body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #0a0a0a;
    color: #00ff88;
}

.tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden { display: none; }

#logo-nexo {
    width: 200px;
    margin-bottom: 10px;
}

#btn-entrar {
    background-color: #00ff88;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
}

#btn-entrar:hover {
    box-shadow: 0px 0px 15px #00ff88;
    transform: scale(1.05);
}

#chat-container {
    width: 90%;
    height: 700px;
    border: 2px solid #00ff88;
    border-radius: 10px;
}

#chat-container iframe {
    width: 50%;
    height: 50%;
}

#sobre {
    width: 90%;
    text-align: center;
    margin-top: 40px;
}

#img-membros {
    width: 40%;
    border-radius: 0px;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #00ff88;
    width: 100%;
}
